<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LightningRemit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A76004E32C2F3B6F003E1912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A76004F32C2F3B71003E1912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A76004FD2C2F3B71003E1912</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
